<div class="page-header">
<h1>About me</h1>
</div>


<div class="row">
	<div class="col-md-6">
		<img class="img-responsive img-thumbnail center-block" src="/content/valur.jpg"></img></div>
<div class="col-md-12">
		<p><p>My name is Valur Valsson and I‘m an 32 year old man living in Skagafjörður on the North coast of Iceland with my girlfriend, Lilja, and our 3 year old daughter, Ásrún. I have a BS degree in Civil Engineering from Reykjavík University but before that I got a degree in technical drawing from Technical College Reykjavík. I simply love to design and see my ideas come to life. That‘s why my job as Fab Lab manager at Innovation Center is simply perfect for me. Not only have I the opportunity to see my ideas come to life but to help others to see theirs ideas come to life.</p>
	</div>

