<div class="page-header">
<h1>Week 2 <small>computer-aided design</small></h1>
</div>

<h3></h3>


<div class="row">
	<div class="col-md-5">
		<p>For the curtains I will have screen blinds that will be controlled by motor that will pull the string up and down. I will use the string instead of putting the motor
on the curtains end/side. The two main reasons for that is then it is possible to pull the strings by hand and the motor takes a lot of space at the curtains end, then it
will not cover the window properly because I will have the curtain inside a deep window. Here you can see the window, and as you can see the window is really deep, or around 30 cm.</p>
</div>
<div class="row">
	<div class="col-md-4"><img class="img-responsive img-thumbnail center-block" src="/content/w1_window.jpg"></img></div>


div class="row">
	<div class="col-md-12">
		<p>I drew the motor and the pulley in ScetchUp, see below </p>
</div>
<div class="row">
	<div class="col-md-4"><img class="img-responsive img-thumbnail center-block" src="/content/w2_motor.jpg"></img></div>
<div class="row">
	<div class="col-md-4"><img class="img-responsive img-thumbnail center-block" src="/content/w2_samsett.jpg"></img></div>
<div class="row">
	<div class="col-md-4"><img class="img-responsive img-thumbnail center-block" src="/content/w2_samsett2.jpg"></img></div>	
	
	<div class="col-md-12">
		<p>Every Cinemaroom needs a good TV screen and a cabernet for the home cinema.</p>
	</div>
		<div class="col-md-12"><img class="img-responsive img-thumbnail center-block" src="/content/w2_tv_wall.jpg"></img></div>	
</div>
